<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Teste</title>
</head>
<body>
<h4><span style="color: #808000;">ESSA API &Eacute; PARA RETORNA UM VALOR TOTAL DE VENDAS DE</span><span style="color: #808000;"> RADIO, TV E JORNAL.</span></h4>
<p><img style="display: block; margin-left: auto; margin-right: auto;" src="https://replit.com/@AfiaBarbosa/Minha-API-1#templates/vendas.jpeg" alt="12 Melhores T&eacute;cnicas de Vendas Altamente Eficazes" width="371" height="223" /></p>
<h4><span style="color: #808000;">IMPORTANTE: ESSE &Eacute; UM PROJETO DE TESTE INICIAL DE CRIA&Ccedil;&Atilde;O DE API</span></h4>
<h4>&nbsp;</h4>
<p>&nbsp;</p>
<p>APENAS DIGITE DEPOIS DA BARRA(/) "pegarvendas" PARA VISUALIZAR A SOMA TOTAL DESSA BASE DE DADOS.</p>
<p>exemplo: https://Minha-API-1.afiabarbosa.repl.co<span style="color: #0000ff;">/XXXXX</span></p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p><span style="color: #808000;">criado por &Aacute;fia Barbosa, Entra21, 2022</span></p>
</body>
</html>